html {
  background-color: #46483E;
  color: #ddd;
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 40em;
  margin: 0 auto;
  font-size: 12pt;
}

body { padding: 20px 20px 100px 20px; margin: 0; }
a { color: #ddd; }
p { line-height: 1.4em; margin: 0 0 1em 0; }

pre {
  margin: 0 0 1em 0;
  overflow: auto;
  font-family: 'Droid Sans Mono', monospace;
}

#header { text-align: center; }
#header img { height: 150px; font-size: 2em; margin-bottom: 2em; }

#next { margin-top: 50px; }

#next a { 
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #575950;
  border-radius: 5px;
  padding: 10px 20px;
}

#next a:hover { background-color: #686A61; }
#next a:active { background-color: #3E4037; color: #ddd; }

#next a span {
  display: block;
  padding-top: 5px;
}

#footer {
  color: #333;
  padding-top: 10px;
}