body {
  background:  #46483E;
  color: white;
  font-family: verdana;
  width: 40em;
  margin: 0 auto 50px;
}
p {
  line-height: 1.5em;
}
a {
  color: white;
}
pre {
  padding: 8px;
  border: 2px solid #555;
  border-radius: 3px;
  overflow: auto;
  background-color: #3e4037;
}
header {
  border-bottom: 1px solid #CCC;
}
header h1 {
  text-indent: -9999px;
  background: transparent url("img/logotype.png") no-repeat left center;
  background-size: 200px 125px;
  height: 100px;
}
header a.back {
  float: right;
  line-height: 100px;
  margin-right: 40px;
}