<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Node Labs</title>
    <link href="/css/post.css" rel="stylesheet" type="text/css"/>
    <link href="/css/pygments.css" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
    <script src="http://nodelabs.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="/js/unlock.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35011668-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

    <div id="header">
      <a href="/" title="Take me home!"><img src="/css/img/logotype_dark.png" /></a>
    </div>

    {{ content }}

    {% if page.next %}
      <div id="next">
        <a href="{{ page.next.url }}">
          Keep it up! Continue on to the next lab.
          <span>{{ page.next.title }}</span>
        </a>
      </div>
    {% endif %}
  </body>
</html>